/* Thanks to https://www.w3schools.com/howto/howto_css_portfolio_gallery.asp */
* {
  box-sizing: border-box;
}

body {
  background-color: black;
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}
.dark-mode {
  background-color: white;
  color: black;
}

/* Scrolling Directory */
.scroll-dir
{
    position: fixed;
    top: 45%;
    left: 7%;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  color: white;
  display: inline;
} 
body.dark-mode h1 { color: black; }

h2 {
  color: white;
}
body.dark-mode h2 { color: black; }


h3 {
  color: black;
}
body.dark-mode h3 { color: white; }


h4 {
  color: black;
}
body.dark-mode h4 { color: white; }


p {
  color: black;
}

a {
    text-decoration: none;
}

ol {
  color: black;
}

/* HEADER */
.header img {
    float: right;
    position: relative;
    height: 50px;
}

.header h1 {
    display:table-cell;
    vertical-align:middle;
}

.header p {
  color: white;
}
body.dark-mode p { color: black; }

.header h3 {
  color: white;
}
body.dark-mode h3 { color: black; }
/* END HEADER */


/* CONTENTS */
.column-links {
  float: left;
  width: 50%;
}

.column-links h3 {
  text-align: center;
  color: white;
}
body.dark-mode h3 { color: black; }

.column-links h4 {
  text-align: center;
  color: white;
}
body.dark-mode h4 { color: black; }
/* END CONTENTS */


/* COLUMN TYPES */
.column-thin-left {
  float: left;
  width: 33%;
}
.column-thin-right {
  float: right;
  width: 33%;
}
.column-wide-left {
  float: left;
  width: 66%;
}
.column-wide-right {
  float: right;
  width: 66%;
}
/* END COLUMN TYPES */


/* COLUMN TYPES */
.column-level {
  float: left;
  width: 33%;
}
.column-level h3 {
  text-align: center;
  color: white;
}
body.dark-mode h3 { color: black; }

.column-level h4 {
  text-align: center;
  color: white;
}
body.dark-mode h4 { color: black; }
/* END COLUMN TYPES */

/* CONTENT */
.content {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  padding-top: 0.2em;
  text-align: justify;
  box-shadow: -10px -10px #c2c2c2;
}

.content h3 {
  text-align: left;
  color: black;
}

.content h4 {
  text-align: left;
  color: black;
}
/* END CONTENT */

/* Add padding BETWEEN each column */
.row {
  margin: 8px -16px;
}

.row, .row > .column {
  padding: 8px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}

.column h3, .column h4 {
  color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 10px;
  width: 40%; 
}

/*  */
.orgs_imgs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 30%;
  margin-bottom: 30%; */
  border-radius: 10px;
  width: 40%;
  border-radius: 40px;
  border-width: 3px;
  border-color: white;
  border-style: solid;
}
body.dark-mode .orgs_imgs { border-color: black; }

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
  .column-level {
    width: 100%;
  }
  .column-thin-left {
    width: 100%;
  }
  .column-thin-right {
    width: 100%;
  }
  .column-wide-left {
    width: 100%;
  }
  .column-wide-right {
    width: 100%;
  }
  .orgs_imgs {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

}





/* SWITCH */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0 0 4px black;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: white;
}

/* input:focus + .slider {
  box-shadow: 0 0 2px black;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  color: white;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* SWITCH */